<%- include('header') %>
  <section>
    <div class="container h-100">
      <div class="row d-flex justify-content-left align-items-left h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-left">
                <p class="text-left h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Editar Carro</p>
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <form class="mx-1 mx-md-4" method="post" action="/user/sing-up">

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Link da imagem</label>
                        <input type="text" id="form3Example1c" name="link" class="form-control" />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Nome</label>
                        <input type="text" id="form3Example1c" name="nome" class="form-control" />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Marca</label>
                       <input type="text" id="form3Example1c" name="marca" class="form-control" />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="container">
                        <div class="row">
                          <div class="col-sm">
                            <label class="form-label" for="form3Example1c">Valor</label>
                            <input type="text" id="form3Example1c" name="valor" class="form-control" />
                          </div>
                          <div class="col-sm">
                            <label class="form-label" for="form3Example1c">Valor da diária</label>
                            <input type="text" id="form3Example1c" name="valor" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Cor</label>
                        <input type="text" id="form3Example3c" name="cor" class="form-control" />
                      </div>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg" disabled id="regButton">Register</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      window.onload = () => {
        document.getElementById('confirmSenha').addEventListener("keyup", ({ target }) => {
          let { value } = target
          let senha = document.getElementById('senha').value
          let btn = document.getElementById('regButton') 
          if(value == senha){
            btn.removeAttribute('disabled')
            document.getElementById('passMessage').style.display = 'none'
          }else{
            if(!btn.hasAttribute('disabled')){
              btn.setAttribute('disabled', true)
              document.getElementById('passMessage').style.display = 'block'
            } 
          }
        })
      }
    </script>
  </section>
  <%- include('footer') %>