<%- include('header') %> 
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Bem vindo!</h1>
      <h2>Encontre aqui o melhor carro para você</h2>
    </div>
    <div class="container py-5 d-flex justify-content-evenly flex-wrap gap-4">
      <div class=" box-shadow mw-20 w20">
        <div class="card-body">
          <p>Lorem ipsum dolor, </p>
          <p>gfhjgfdjgjhkghk</p>
          <p>jgnhfdjyugkjuhgfjgjkhjfgukugfyuj</p>
          <p>fgsdfhgfgjtgujkfghk</p>
        </div>
      </div> 
      <div class=" box-shadow mw-20 w20">
        <div class="card-body">
          <p>Lorem ipsum dolor, </p>
          <p>gfhjgfdjgjhkghk</p>
          <p>jgnhfdjyugkjuhgfjgjkhjfgukugfyuj</p>
          <p>fgsdfhgfgjtgujkfghk</p>
        </div>
      </div> 
      <div class=" box-shadow mw-20 w20">
        <div class="card-body">
          <p>Lorem ipsum dolor, </p>
          <p>gfhjgfdjgjhkghk</p>
          <p>jgnhfdjyugkjuhgfjgjkhjfgukugfyuj</p>
          <p>fgsdfhgfgjtgujkfghk</p>
        </div>
      </div> 
      <div class=" box-shadow mw-20 w20">
        <div class="card-body">
          <p>Lorem ipsum dolor, </p>
          <p>gfhjgfdjgjhkghk</p>
          <p>jgnhfdjyugkjuhgfjgjkhjfgukugfyuj</p>
          <p>fgsdfhgfgjtgujkfghk</p>
        </div>
      </div> 
      <div class=" box-shadow mw-20 w20">
        <div class="card-body">
          <p>Lorem ipsum dolor, </p>
          <p>gfhjgfdjgjhkghk</p>
          <p>jgnhfdjyugkjuhgfjgjkhjfgukugfyuj</p>
          <p>fgsdfhgfgjtgujkfghk</p>
        </div>
      </div> 
      <div class=" box-shadow mw-20 w20">
        <div class="card-body">
          <p>Lorem ipsum dolor, </p>
          <p>gfhjgfdjgjhkghk</p>
          <p>jgnhfdjyugkjuhgfjgjkhjfgukugfyuj</p>
          <p>fgsdfhgfgjtgujkfghk</p>
        </div>
      </div> 
    </div>
  </section>
<%- include('footer') %> 
